<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <div class="custom-container">
    <h2 mat-dialog-title>Crear Contenido</h2>
    <!-- <mat-card-title>Crear Contenido</mat-card-title> -->

    <mat-dialog-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Titulo" formControlName="title" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              matInput
              placeholder="Descripcion"
              formControlName="description"
              rows="4"
            ></textarea>
            <mat-error
              *ngIf="addressForm.controls['description'].hasError('required')"
            >
              Decripcion <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enlace al contenido"
              formControlName="content"
            />
            <mat-error
              *ngIf="addressForm.controls['content'].hasError('required')"
            >
              Contenido <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Url de la imagen"
              formControlName="picture"
            />
            <mat-error
              *ngIf="addressForm.controls['picture'].hasError('required')"
            >
              Imagen <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              placeholder="Fecha de acceso limite"
              formControlName="dateLine"
              matInput
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Categoria" formControlName="category_id">
              <mat-option *ngFor="let state of states" [value]="state.id">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['category_id'].hasError('required')"
            >
              Selecciona una <strong>categoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
              >
                {{ tag.name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Ingresa las etiquetas separadas por comas(,) o espacios"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <div *ngIf="succes" class="succes-container">
      <p>Contenido creado con exito</p>
    </div>
    <mat-dialog-actions align="end">
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        type="submit"
      >
        <mat-spinner
          *ngIf="creating"
          style="margin: 5px 0;"
          color="accent"
          [diameter]="25"
        ></mat-spinner>
        <span *ngIf="!creating">Crear</span>
      </button>
      <button id="button-close-course-form" mat-button mat-dialog-close>
        Cerrar
      </button>
    </mat-dialog-actions>
  </div>
</form>
