:host {
  display: block;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  /* margin: 0 5px 5px 0; */
}

.mat-card-title {
  font-size: 20px;
  height: 48px;
  overflow: hidden;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

.example-card {
  box-shadow: none;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12); */
  margin: 0 8px 8px 0;
}

.example-card:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
  transform: translate3d(0, -1px, 0);
}

.crop-image {
  display: block;
  max-height: 230px;
  height: 230px;
  width: 100%;
}

.crop-image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  object-position: center;
  max-width: 100%;
}

.tag-wraper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.category-label {
  font-size: 12px;
  text-transform: capitalize;
  min-height: 20px;
}

.container-actions {
  text-align: center;
}

.center-center {
  display: flex;
  align-items: center;
}

.event-end {
  color: red;
}

.calendar-icon {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 4px;
}

.tags_container {
  height: 56px;
  max-height: 56px;
  min-height: 56px;
}

@media (min-width: 768px) {
  :host {
    width: 33.3%;
    max-width: 33.3%;
  }
}

@media (min-width: 1024px) {
  :host {
    width: 25%;
    max-width: 25%;
  }
}
